.welcome-text {
	text-shadow: 0px 0px 3px #ffdd00fe;
}

.app-brand-img {
	animation: 1s ease-in-out AppNameDrop;
	animation-fill-mode: forwards;
}

.challenge-monitor {
	scrollbar-width: none;
}

.challenge-monitor::-webkit-scrollbar {
	width: 0px;
}

@keyframes AppNameDrop {
	0% {
		bottom: 110%;
	}

	50% {
		bottom: 0%;
	}

	70% {
		bottom: 40%;
	}

	80% {
		bottom: 0%;
	}

	90% {
		bottom: 20%;
	}

	100% {
		bottom: 0%;
	}
}
